
<h2 class="text-center">
  <small class="text-center" style="color: #173B0B;font-family: 'Vollkorn', Georgia, Times, serif;">Ever ended up adding too many useless comments and blank lines while developing and debugging your app?<p class="text-center" style="color: #173B0B;font-family: 'Vollkorn', Georgia, Times, serif;"> If yes , this simple app might make your life a little bit easier! :)</p></small>
</h2>

<%= form_tag( "/clear_my_code" , {:remote => true , :method => :post , :class => "text-center form-group form-inline" } ) do %>

  <h4 style="color: #5F4C0B;"><strong>Input Code</strong></h4>
  <%= text_area_tag "code", nil , :style =>"width: 80%; height: 400px;" , :placeholder => "Paste Your Code Here"%>
  <br/>  <br/> 
  <div class="form-group">
  <b style="color: #5F4C0B;">java</b> 
  <%= radio_button_tag 'language', 'java' , true%> 


  <b style="color: #5F4C0B;">C</b> 
  <%= radio_button_tag 'language', 'c'%> 

  <b style="color: #5F4C0B;">C++</b> 
  <%= radio_button_tag 'language', 'cpp'%> 

  <b style="color: #5F4C0B;">JavaScript</b> 
  <%= radio_button_tag 'language', 'java_script'%> 

  <b style="color: #5F4C0B;">Scala</b> 
  <%= radio_button_tag 'language', 'scala'%> 

  <b style="color: #5F4C0B;">Go</b> 
  <%= radio_button_tag 'language', 'go'%> 

  <b style="color: #5F4C0B;">Clojure</b> 
  <%= radio_button_tag 'language', 'clojure'%> 

  <b style="color: #5F4C0B;">Ruby</b> 
  <%= radio_button_tag 'language', 'ruby' %> 

  <b style="color: #5F4C0B;">Php</b> 
  <%= radio_button_tag 'language', 'php' %> 

  <b style="color: #5F4C0B;">Html</b> 
  <%= radio_button_tag 'language', 'html' %> 

  <b style="color: #5F4C0B;">Css</b> 
  <%= radio_button_tag 'language', 'css' %> 

  <b style="color: #5F4C0B;">Python</b> 
  <%= radio_button_tag 'language', 'python' %> 

  </div>
  <br/> 
  <div onclick="spin_icon_start(event, this)">
    <%= submit_tag "STRIP :)" , :class => 'btn btn-success' %>
    <i class="fa fa-refresh fa-1x" id='spin_icon'></i> 
  </div>   



<% end %>

<div id ="cleared_code"></div>


<script>
  function spin_icon_start(event){$('#spin_icon').addClass('fa-spin');};
  function spin_icon_stop(event){$('#spin_icon').removeClass('fa-spin');}; 
</script>