

<%= form_tag( "/clear_my_code" , {:remote => true , :method => :post , :class => "text-center form-group form-inline" } ) do %>

  <h4><strong>Input Code</strong></h4>
  <%= text_area_tag "code", nil , :style =>"width: 80%; height: 400px;" , :placeholder => "Paste Your Code Here"%>
  <br/>  <br/> 
  <div class="form-group">
  <b>java</b> 
  <%= radio_button_tag 'language', 'java' , true%> 


  <b>C</b> 
  <%= radio_button_tag 'language', 'c'%> 

  <b>C++</b> 
  <%= radio_button_tag 'language', 'cpp'%> 

  <b>JavaScript</b> 
  <%= radio_button_tag 'language', 'java_script'%> 

  <b>Scala</b> 
  <%= radio_button_tag 'language', 'scala'%> 

  <b>Go</b> 
  <%= radio_button_tag 'language', 'go'%> 

  <b>Clojure</b> 
  <%= radio_button_tag 'language', 'clojure'%> 

  <b>Ruby</b> 
  <%= radio_button_tag 'language', 'ruby' %> 

  <b>Php</b> 
  <%= radio_button_tag 'language', 'php' %> 

  <b>Html</b> 
  <%= radio_button_tag 'language', 'html' %> 

  <b>Css</b> 
  <%= radio_button_tag 'language', 'css' %> 

  <b>Python</b> 
  <%= radio_button_tag 'language', 'python' %> 

  </div>
  <br/> 
  <%= submit_tag "STRIP :)" , :class => 'btn btn-success'%>
<% end %>

<div id ="cleared_code"></div>