

<%= form_tag( "/clear_my_code" , {:remote => true , :method => :post , :class => "text-center form-group form-inline" } ) do %>
  <%= text_area_tag "code", nil , :style =>"width: 80%; height: 400px;" %>

  <div class="form-group">
  <%= label_tag 'java' %> 
  <%= radio_button_tag 'language', 'java' , true%> 


  <%= label_tag 'C' %> 
  <%= radio_button_tag 'language', 'c'%> 

  <%= label_tag 'C++' %> 
  <%= radio_button_tag 'language', 'cpp'%> 

  <%= label_tag 'JavaScript' %> 
  <%= radio_button_tag 'language', 'java_script'%> 

  <%= label_tag 'Scala' %> 
  <%= radio_button_tag 'language', 'scala'%> 

  <%= label_tag 'Go' %> 
  <%= radio_button_tag 'language', 'go'%> 

  <%= label_tag 'Clojure' %> 
  <%= radio_button_tag 'language', 'clojure'%> 

  <%= label_tag 'Ruby' %> 
  <%= radio_button_tag 'language', 'ruby' %> 

  <%= label_tag 'Php' %> 
  <%= radio_button_tag 'language', 'php' %> 

  <%= label_tag 'Html' %> 
  <%= radio_button_tag 'language', 'html' %> 

  <%= label_tag 'Css' %> 
  <%= radio_button_tag 'language', 'css' %> 

  <%= label_tag 'Python' %> 
  <%= radio_button_tag 'language', 'python' %> 

  </div>

  <%= submit_tag "STRIP :)" , :class => 'btn btn-success'%>
<% end %>

<div id ="cleared_code"></div>